<c-carousel *ngIf="this.doneLoading" [animate]="false" [interval]="0">
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of recommendations">
      <img
        alt="{{ slide.title }}"
        class="d-block w-100"
        loading="lazy"
        src="{{ slide.src }}"
      />

      <h3>{{ slide.title }}</h3>
    </c-carousel-item>
  </c-carousel-inner>

  <div class="container">
    <div class="navigation">
      <c-carousel-control direction="prev">
        <button mat-raised-button color="basic" (click)="backward()">
          <mat-icon>arrow_left</mat-icon>
        </button>
      </c-carousel-control>
      <c-carousel-control direction="next">
        <button mat-raised-button color="basic" (click)="forward()">
          <mat-icon>arrow_right</mat-icon>
        </button>
      </c-carousel-control>
    </div>
    <button mat-raised-button color="basic" (click)="removeSuggestion()">
      Remove from Suggestions
    </button>
  </div>
</c-carousel>
