<table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Comment</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of DATA">
        <td>{{ review.username }}</td>
        <td>{{ review.comment }}</td>
        <td>{{ review.rating }}</td>
        <td *ngIf="review.username == this.username || isAdmin">
          <button (click)="deleteReview()">Delete</button>
        </td>   
      </tr>
    </tbody>
  </table>

  <form #reviewForm="ngForm">
    <label for="comment">Comment:</label>
    <input type="text" id="comment" [(ngModel)]="newReview.comment" name="comment">
    <label for="rating">Rating:</label>
    <input type="number" id="rating" [(ngModel)]="newReview.rating" name="rating" min="1" max="5">
    <button (click)="addReview()">Add Review</button>
  </form>
  